$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
$xxl-breakpoint: 1400px;

$height-800-breakpoint: 800px;

@mixin responsive($screen) {
  @if ($screen == "xxl") {
    @media screen and (max-width: $xxl-breakpoint) {
      @content;
    }
  }

  @if ($screen == "height") {
    @media screen and (max-height: $height-800-breakpoint) {
      @content;
    }
  }
}
