@font-face {
  font-family: "S-CoreDream";
  src: url("/assets/fonts/SCDream4.otf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "S-CoreDream";
  src: url("/assets/fonts/SCDream5.otf");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "S-CoreDream";
  src: url("/assets/fonts/SCDream5.otf");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "S-CoreDream";
  src: url("/assets/fonts/SCDream5.otf");
  font-style: normal;
  font-weight: 700;
}
