@font-face {
  font-family: "S-CoreDream";
  src: url("/assets/fonts/SCDream3.otf");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "S-CoreDream";
  src: url("/assets/fonts/SCDream4.otf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "S-CoreDream";
  src: url("/assets/fonts/SCDream5.otf");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "S-CoreDream";
  src: url("/assets/fonts/SCDream7.otf");
  font-style: normal;
  font-weight: 700;
}
