.arrow {
  width: 50px;
  height: 50px;

  span {
    position: absolute;
    top: 20px;
    display: block;
    width: 30px;
    height: 2px;
    background: $red;

    &:first-child {
      left: 20px;
      transform: rotate(-45deg);
    }

    &:last-child {
      left: 0;
      transform: rotate(45deg);
    }

    &::before {
      display: block;
      width: 100%;
      height: 100%;
      content: " ";
      animation: light 1.4s ease-in-out infinite;
    }
  }

  &:last-child span::before {
    animation-delay: 0.7s;
  }
}

@keyframes light {
  0% {
    box-shadow: 0 0 3px $red-bg;
    opacity: 1;
  }

  50% {
    box-shadow: none;
    opacity: 0.5;
  }

  100% {
    box-shadow: 0 0 3px $red-bg;
    opacity: 1;
  }
}
