.notepad {
  position: relative;
  text-align: center;
  background-color: $white;
  border: 2px solid $tertiary;

  &::after {
    position: absolute;
    top: 2%;
    left: 4%;
    z-index: -1;
    display: block;
    width: 100%;
    height: 0;
    content: "";
    background-color: $background-pink;
    border: 2px solid $tertiary;
    opacity: 0;
    transition: opacity 0.5s ease, height 0.5s ease;
  }

  &:hover {
    background-color: $background-yellow;
  }
}
