.global-header {
  width: 100%;

  .gnb,
  .lnb {
    position: fixed;
    left: 0;
    width: 100%;

    &__wrapper {
      max-width: 1660px;
      margin: 0 auto;
    }
  }

  .gnb {
    top: 0;
    z-index: $gnb-level;

    &__wrapper {
      @include flex(between);
      flex-grow: 0;
      height: $gnb-height;
    }
  }

  .lnb {
    top: $gnb-height;
    z-index: $lnb-level;
  }

  @include responsive(eel) {
    .gnb__wrapper {
      padding: 0 30px;
    }
  }
}
