.gnb {
  background-color: $white;

  &__left,
  &__right {
    @include flex;
  }

  &__title {
    margin-right: 80px;

    a {
      display: block;

      img {
        display: block;
        width: 180px;
        height: auto;
      }
    }
  }

  .nav {
    &__list {
      @include flex;
    }

    &__item {
      margin-right: 30px;

      a {
        font-size: 18px;
        font-weight: 500;
        color: $primary;
        letter-spacing: -0.5px;
      }
    }
  }

  .membership {
    @include flex;

    &__login,
    &__join {
      a {
        font-family: $font-montserrat;
        font-size: 16px;
        font-weight: 700;
        color: $primary;
      }
    }

    &__login {
      position: relative;
    }

    &__login::after {
      margin: 0 10px;
      font-size: 20px;
      font-weight: 700;
      color: $primary;
      content: "|";
    }

    &__join {
      margin-right: 30px;
    }

    &__franchise {
      margin-right: 30px;
    }
  }
}
