.gnb {
  @include flex(between);
  padding: 0 50px;
  background-color: $white;

  &__left,
  &__right {
    @include flex(start);
  }

  &__title {
    margin-right: 50px;

    a {
      display: block;

      img {
        display: block;
        width: 130px;
        height: auto;
      }
    }
  }

  .nav {
    &__list {
      @include flex;
    }

    &__item {
      margin-right: 30px;

      a {
        font-size: 17px;
        font-weight: 500;
        color: $primary;
        letter-spacing: -0.5px;
      }
    }
  }

  .membership {
    @include flex;

    &__login,
    &__join {
      a {
        font-family: $font-montserrat;
        font-size: 15px;
        font-weight: 700;
        color: $primary;
      }
    }

    &__login {
      position: relative;
    }

    &__login::after {
      margin: 0 10px;
      font-size: 20px;
      font-weight: 700;
      color: $primary;
      content: "|";
    }

    &__join {
      margin-right: 20px;
    }

    &__franchise {
      margin-right: 20px;

      a {
        display: block;
        width: 200px;
        height: 45px;
        font-family: $font-montserrat;
        font-size: 15px;
        font-weight: 700;
        line-height: 45px;
        color: $red;
      }
    }
  }
}
