$black: #000;
$lightblack: #333;
$white: #fff;
$gray: #e4e4e4;
$gray-light: #401e2040;

$primary: #401e20;
$secondary: #2e0e0f;
$tertiary: #3c2121;

$brown: #401e20cc;
$brown-light: #be9c6c;
$brown-superlight: #fbe4ab;

$red: #f52334;
$red-bg: #ed0f0f;

$blue-light: #afd0d1;

$yellow: #ffe675;
$yellow-vivid: #ffe001;
$yellow-light: #fdf08a;
$yellow-dark: #edb84c;

$beige: #fff5d9;

$pink: #ffdcd1;
